<header>
  <h1 class="tag name">Hello, {{user.username}}</h1>
  <p class="tag location">Logged in with: {{user.email}}</p>

  <a class="tag name" href="/private/profile/edit/{{user._id}}">Edit Account</a>

  <form action='/private/profile/delete/{{user._id}}' method='post'>
    <button class="tag name" type='submit'>Delete Account</button>
  </form>
</header>

  <h2>Bucketlist:</h2>
  <ul>
    {{#each user.bucketList}}

      <li>{{countries}}</li>
      <a href="/countries/{{_id}}">More about {{this.countries}}</a>


<form action="/favorites/{{_id}}/delete" method="post">
  <button>Remove</button>
</form>

    {{/each}}
  </ul>
</div>
</div>



<div class="logout">
  <a class="tag name" href="/logout">Log Out</a>
</div>