<header>
  <h1 class="tag name">Hello, {{user.username}}</h1>
  <p class="tag location">Logged in with: {{user.email}}</p>

  <a class="tag name" href="/private/profile/edit/{{user._id}}">Edit Account</a>

  <form action='/private/profile/delete/{{user._id}}' method='post'>
    <button class="tag name" type='submit'>Delete Account</button>
  </form>
</header>
<div class="profile-favs">
<div>
  <h2>Your Favourite Spots:</h2>
  <ul>
    {{#each user.favSpot}}

      <li>{{email}}</li>
      <a href="/countries/{{_id}}">More info...</a>

    {{/each}}
  </ul>
</div>

<div>
  <h2>Bucketlist:</h2>
  <ul>
    {{#each user.bucketList}}

      <li>{{name}}</li>
      <a href="/countries/bucketlist/{{_id}}">More info...</a>

    {{/each}}
  </ul>
</div>
</div>



<div class="logout">
  <a class="tag name" href="/logout">Log Out</a>
</div>