
<h1>{{country.name}}</h1>
<h5>{{country.quote}}</h5>
<hr />
<img
  class="headerImage"
  src="{{country.headerImage}}"
  width="70%"
  height="auto"
/>
<p>{{country.description}}</p>
<hr />

<h3>{{country.titleDo}}</h3>
{{#each country.doImage}}
  <img class="doImage" src="{{this}}" width="30%" height="auto" />
{{/each}}
<div>{{country.doText1}}</div>
<hr />

<h3>{{country.titleEat}}</h3>
{{#each country.eatImage}}
  <img class="eatImage" src="{{this}}" width="30%" height="auto" />
{{/each}}
<div>{{country.eatText1}}</div>

<form action="/favorites/{{country._id}}" method="post">
  <button>Favorites</button>
</form>

<br />
<!--Give a comment-->
<h4>Leave a comment!</h4>
<!--FORM to create a comment-->
<form action="/comment/create/{{country._id}}" method="post">
  <textarea name="content" id="content" cols="30" rows="5"></textarea>
  <button type="submit">Write a comment</button>
</form>

<br />
<!--Display all the comment-->
{{#each country.comments}}
  <div>
    <p>{{content}}</p>
    {{!-- <p><span>By: {{user.email}}</span>What is this</p> --}}
    <form action="/comment/delete/{{_id}}" method="post">
      <button type="submit">Delete</button>
    </form>
  </div>

  <div id="textArea" class="hidden">
    <textarea name="" id="" cols="30" rows="10"></textarea>
  </div>
{{/each}}



