<html>
<hr>
<h1 class="countryName">{{country.name}}</h1>
<h5 class="countryQuote">{{country.quote}}</h5>
<hr />
<div class="headerImage">
<img
  src="{{country.headerImage}}"
  width="100%"
  height="600px"
/>
</div>
<p class="countryDescription">{{country.description}}</p>
<hr />
<h3 class="countryThing">{{country.titleDo}}</h3>
<hr>
<div class="threeImg">
{{#each country.doImage}}
  <img class="doImage" src="{{this}}" width="30%" height="auto" />
{{/each}}
</div>
<div class="firstText">{{country.doText1}}</div>

<ul>
{{#each country.doText2}}
  <li class="secondText">{{this}}</li>
{{/each}}
</ul>

<div class="threeText">{{country.doText3}}</div>
<hr />

<h3 class="countryThing">{{country.titleEat}}</h3>
<hr>

<div class="threeImg">
{{#each country.eatImage}}
  <img class="eatImage" src="{{this}}" width="30%" height="auto" />
{{/each}}
</div>

<div class="firstText">{{country.eatText1}}</div>

<ul>
{{#each country.eatText2}}
<li class="secondText">{{this}}</li>
{{/each}}
</ul>

<div class="threeText">{{country.eatText3}}</div>

<hr>
<h3 class="countryThing">{{country.thoughts}}</h3>
<hr>
<h4 class="let-us">Did you like {{country.name}}? Add it to you Bucketlist!</h4>
<form class="bucket-list" action="/favorites/{{country._id}}" method="post">
  <button class="btn btn-light rounded-pill px-3" type="submit">Add to Bucketlist</button>
</form>

<br />
<!--Give a comment-->
<h4>Leave a comment!</h4>
<!--FORM to create a comment-->
<form class="comment-form"action="/comment/create/{{country._id}}" method="post">
  <textarea class="textarea" name="content" id="content" cols="30" rows="5"></textarea>
   <button class="btn btn-light rounded-pill px-3" type="submit">Write a comment</button>
</form>

<br />
<!--Display all the comment-->
{{#each country.comments}}
  <div>
    <p>{{content}}</p>
    {{!-- <p><span>By: {{user.email}}</span>What is this</p> --}}
    <form action="/comment/delete/{{_id}}" method="post">
       <button class="btn btn-light rounded-pill px-3" type="submit">Delete</button>
    </form>
  </div>

  <div id="textArea" class="hidden">
    <textarea name="" id="" cols="30" rows="10"></textarea>
  </div>
{{/each}}
</html>


