{{!--  {{#if isFav}}
          <form action="/countries/removeFavs/{{country._id}}" method="post">
            <button class="tag name" type="submit">Remove from my favourite
              Beers</button>
          </form>
        {{else}}
          <form action="/countries/addFavs/{{country._id}}" method="post">
            <button class="tag name" type="submit">Add to my favourite Beer</button>
          </form>
        {{/if}} --}}

<h1>{{country.countries}}</h1>
<hr />
<p>{{country.location}}</p>
<p>{{country.activitiesType}}</p>
<p>{{country.description}}</p>

<form action="/favorites/{{country._id}}" method="post">
  <button>Favorites</button>
</form>

<br>
    <!--Give a comment-->
<h4>Leave a comment!</h4>
    <!--FORM to create a comment-->
<form action="/comment/create/{{country._id}}" method="post">
<textarea name="content" id="content" cols="30" rows="5"></textarea>
<button type="submit">Write a comment</button>
</form>

<br>
<!--Display all the comment-->
{{#each country.comments}}
<div>
  <p>{{content}}</p>
    {{!-- <p><span>By: {{user.email}}</span>What is this</p> --}}
    <form action="/comment/delete/{{_id}}" method="post">
    <button type="submit">Delete</button>
    </form>
</div>
{{/each}}




{{!-- 
<img src="{{this.image.0}}" alt="">
<img src="{{this.image.1}}" alt="">
<img src="{{this.image.2}}" alt=""> --}}